@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.section__styles{
  @apply 
  w-full
  px-4 xl:px-20
  mx-auto
}
* {
  line-height: 144%;
}
.title-text{
  line-height: 100%;
  letter-spacing: -2px;
}
